.Comments {
    flex: 0.7;
    margin-bottom: 20px;
    max-width: 54rem;
    /* align-items: flex-end;
    justify-content: flex-end; */
}
.add__comment {
    display: flex;
}
.add__comment textarea {
border: none;
outline: none;
min-width:50%;
}
.comments_section{
    display: flex;
    margin-top: 20px;
    
}
.comments_section h3{
    margin: 0;
    margin-left: 10px;
}
.like {
flex: 0.1;
max-width: 10rem;
    margin-left: 3rem;
    display: flex;
    justify-content: space-evenly;
}
.buttonss{
    margin-left: 1rem !important;
color: #fff !important;
background-color:rgb(33, 96, 179) !important;
}