:root {
    --bg:#ffffff;
    --bg-accent:#484a4d;
--text-color:#dadce1;
--nav-size:40px;
/* --border:1px solid #474a4d; */
}
ul{
    list-style: none;
    text-decoration: none;

}
.navbar-m {

    height:var(--nav-size);
    background-color:var(--bg);
    /* padding: 0 1rem; */
}
.navbar-nav-m {
    margin-top: 0;
    padding-left: 0;
max-width: 100%;
height: 100%;
display: flex;
justify-content: flex-end;
}
.nav-item-m {
    width:calc(var(--nav-size)*0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button-m{
    color:#ffff;
--button-size:35px;
width: var(--button-size);
height:var(--button-size);
background-color: #aeb0b6;
border-radius: 50%;
display: flex;
align-items:center;
justify-content: center;
}
.icon-button:hover {
    filter: brightness(1.2);
}
.dropdown-m {
   position: absolute;
    top: 58px;
    width: 200px;
    transform: translate(-45%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
}
.menu-item-m {
    margin: 10px;
    color: rgb(104, 95, 95);
    text-decoration: none;
    height: 20px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
}
.menu-items-m:hover {
    background-color: #525357;
}
.menu-item-m:hover{
    color: black;
    cursor: pointer !important;
}
.modal{
        width: 100%;
        height: auto;
        background-color:red;
}

