.recomentedVideo-m{
    flex: 0.9;
    background-color: #f9f9f9;
    /* padding: 20px 30px; */
    padding-bottom: 0;  
    min-width: 40rem;
}
.recomentedVideo-m > h5{
margin-bottom: 20px;
}
.recomentedVideo_videos-m{
 display: flex;
 flex-wrap:wrap;
}