  /* .video-info h1 {
      font-weight: 400;
      font-size:x-large;
      margin: 0;
  }
  .video-info hr {
    border-top: 1px solid grey;
  }
  .video-info {
    flex: 0.8;
    max-width:80%;
    height: auto;
  } */
  